*{
  font-family: '微軟正黑體', sans-serif
}
body{
  background: url(img/bg_static.jpg) no-repeat fixed;  
}
.white{
  background-color: rgba(255,255,255,.85);
  min-height: 100vh;
  padding: 20px 0 60px;
  position: relative;
}
ul{
  margin: 20px 0 0 0;
}
button:focus{outline:none;}
.button{
  border:solid 1px #7ec0e7;
  background-color: #fff;
  padding: 4px 7px;
  margin: 3px;
  border-radius: 3px;
}
.button:active{
  background-color: #93c5e2
}
.button.active{
  background-color: rgb(161, 211, 255);
}
li span{
  display: inline-block;
  vertical-align: middle;
}
.element{
  width: 35px;
  height: 35px;
  background-position: 5px;
  background-repeat: no-repeat; 
  background-size: 22px 22px;
}
.element1{
  background-image: url(img/icon/e1.png);
}
.element2{
  background-image: url(img/icon/e2.png);
}
.element3{
  background-image: url(img/icon/e3.png);
}
.element4{
  background-image: url(img/icon/e4.png);
}
.element5{
  background-image: url(img/icon/e5.png);
}
.element6{
  background-image: url(img/icon/e6.png);
}
.race{
  width: 110px;
  height: 30px;
  background-position: 5px;
  background-repeat: no-repeat;        
  background-size: 100px 20px;
}
.race1{
  background-image: url(img/icon/r1.png);
}
.race2{
  background-image: url(img/icon/r2.png);
}
.race3{
  background-image: url(img/icon/r3.png);
}
.race4{
  background-image: url(img/icon/r4.png);
}
.race5{
  background-image: url(img/icon/r5.png);
}
.race6{
  background-image: url(img/icon/r6.png);
}
.weapon{
  width: 57px;
  height: 30px;
  background-position: 5px;
  background-repeat: no-repeat;
  background-size: 47px 20px;
}
.weapon1{
  background-image: url(img/icon/w1.png);
}
.weapon2{
  background-image: url(img/icon/w2.png);
}
.weapon3{
  background-image: url(img/icon/w3.png);
}
.weapon4{
  background-image: url(img/icon/w4.png);
}
.weapon5{
  background-image: url(img/icon/w5.png);
}
.weapon6{
  background-image: url(img/icon/w6.png);
}
.weapon7{
  background-image: url(img/icon/w7.png);
}
.weapon8{
  background-image: url(img/icon/w8.png);
}
.weapon9{
  background-image: url(img/icon/w9.png);
}
.weapon10{
  background-image: url(img/icon/w10.png);
}
.type{
  width: 73px;
  height: 30px;
  background-position: 5px;
  background-repeat: no-repeat;
  background-size: 63px 20px;
}
.type1{
  background-image: url(img/icon/t1.png);
}
.type2{
  background-image: url(img/icon/t2.png);
}
.type3{
  background-image: url(img/icon/t3.png);
}
.type4{
  background-image: url(img/icon/t4.png);
}
.type5{
  background-image: url(img/icon/t5.png);
}
.gender{  
  width: 35px;
  height: 35px;
  background-position: 3px;
  background-repeat: no-repeat; 
  background-size: 27px 27px;
}
.gender1{
  background-image: url(img/icon/g1.png);
}
.gender2{
  background-image: url(img/icon/g2.png);
}
.gender3{
  background-image: url(img/icon/g3.png);
}
.reset{
  float: right;
}
.percentage{
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
#check, #final{
  display: none;
}
.labelCheck{
  background-color: #fff;
  border:solid 1px #7ec0e7;
  margin: 3px 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: .2s;
}
input#final:checked + label.labelCheck:after {
  width: 15px;
  height: 9px;
  background-color: transparent;
  position: absolute;
  top: 8px;
  left: 7px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: '';
  border: 3px solid #7ec0e7;
  border-top: none;
  border-right: none;
}
.toggle{
  display: inline-block;
  width: 50px;
  height: 24px;
  border-radius: 12px;
  background-color: #a1d3ff;
  margin-bottom: -5px;
  margin-right: 20px;
  position: relative;
  box-shadow: inset -1px -1px 2px rgb(149, 191, 207);
  overflow: hidden;
  cursor: pointer;
  /* border: solid 1px #7ec0e7; */
}
.toggle::after{
  content: '';
  position: absolute;
  left: 26px;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #6cace0;
  transition: .3s;
}
.toggle::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 24px;
  border-radius: 12px;
  background-color: #ccc;
  transition: .3s;
}
#check:checked + .switch .toggle::after{
  left: 0px;
  transition: .3s;
}
#check:checked + .switch .toggle::before{
  left: -26px;
  transition: .3s;
}
.main{
  margin-top: 15px;
}
.block{
  margin-bottom: 10px;
  padding: 7px;
}
.block1{
  background-color: #ffd5d5
}
.block2{
  background-color: #c9f4fc
}
.block3{
  background-color: #f3eac4
}
.block4{
  background-color: #cffcc9
}
.block5{
  background-color: #f9fcc9
}
.block6{
  background-color: #fcc9f3;
  margin-bottom: 0;
}
.chara{
  display: inline-block;
  padding: 7px;
  /* border-radius: 5px; */
  width: 11.11%;
  position: relative;
}
@media (max-width: 1200px){
.chara{
  width: 14.28%;
}
}
@media (max-width: 991px){
.chara{
  width: 20%;
}
}
@media (max-width: 767px){
.chara{
  width: 25%;
}
}
@media (max-width: 500px){
.chara{
  width: 33.33%;
}
}
@media (max-width: 400px){
.chara{
  width: 50%;
}
}
.chara img{
  width: 100%;
  cursor: pointer;
  border-radius: 7px;
  /* filter: blur(3px); */
}
.chara:active{
  transform: scale(.95)
}
.get{
  position: absolute;
  background-color: rgba(220,220,220,.6);
  width: calc(100% - 14px);
  height: calc(100% - 14px);
  top: 7px;
  cursor: pointer;
  border-radius: 7px;
}
footer{
  text-align: center;
  /* margin-top: 40px; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}